.navbar{
  margin-bottom: 0px;
}
body{
  font-family: 'Open Sans';
}
.dis{
  display: none;
}
.carousel-control.right, .carousel-control.left{
  background-image: none;
}
.navbar-header{
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none!important;
}
.uefa {
    margin-top: 42%;
}
.dropdown-toggle:hover{
  text-decoration: none!important;
}
.carousel-caption1 {
    position: absolute;
    top: 44%;
    color: #FFF;
    width: 50%;
    left: 11%;
    text-align: left;
}

h1{
font-size: 260%;
}
p{
    font-size: 135%;

}
h3{
  color: #223d73;
  margin-bottom: -8px;
}

.new_size{
  display: inline-block;
    position: absolute;
    z-index: 1;
    left: 45%;
    width: 100px;
    top: 11px;
}
@media (max-width:786px){
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    margin-left: -16px;
}
  .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active{
  background: transparent;
   
    border-color: transparent;
}
  .uefa{
  margin-top: 37%;
}
.dis{
  display: inherit;
}
.navbar-collapse{
    position: absolute!important;
  }
  .display{
    display: none;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: transparent!important;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:transparent;
  }
  .remix:hover{
    color: black!important;
  }

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
	}
  .navbar-default .navbar-toggle {

border-color: transparent;

}
p {
    font-size: 95%;
}
h1{

  font-size: 180%;
}

}
@media (max-width:400px){

.navbar-default .navbar-toggle {

border-color: transparent;

}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 13px;
    margin-left: -15px;
}

 .new_size{
    width: 70px;
     left: 40%;
     top: 10px;
  }
  .uefa{
    position: relative!important;
  }
  .img_size{
    padding-bottom: 25px;
  }
  
  p{
    font-size: 60%;
  }
  h1{
    font-size: 104%;
  }
  h3{
   margin-top: 10%;
       font-size: 15px;
  }
  h4, .h4 {
    font-size: 14px;
}

  .new_size{
    width: 70px;
}
  
  
  .dropdown-toggle, .dropdown-toggle:hover{
    color: white;
  }
  a:hover{
    color: white!important;
  }
  .dropdown-menu{
    top:30px;
    background: transparent;
  }
  h5{
    padding-bottom: 35px;
	font-size: 8px;  
  }

  .li_edit{
    padding-left: 30px;
  }
  .clr{
    color: white!important;
  }
.clr:hover{
  background: transparent!important;
}
}
.img_size{
  width: 20%;
  margin: auto;
  padding-bottom: 25px;
}
.img{
  height: 100%;
    width: 100%;
}

.back-img{
   background-image: url("../images/9.png");
   overflow: hidden;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.edit_slider{
  position: absolute;
  top: -2px;
}
.edit{
  position: relative;
  z-index: 1;
}
.clr1, .dropdown-toggle{
  color: white!important;
}
.navbar-toggle{
  border-radius: 0px;
  background: transparent;
}
.navbar-toggle:hover{
  background: transparent!important;
}

.container{
	text-align: center;
}
.carousel-caption1 {
    position: absolute;
    top: 37%;
    color: #FFF;
    width: 58%;
    left: 14%;
    text-align: left;
}
}